.component3{
    margin: 0 auto;
    text-align: left;
    width: 100vw;
  }
  .content{
    width: 80%;
  }
  
  .header-inline h2, .header-inline h3 {
    display: inline; 
    margin-right: 5px; 
    font-family: 'DM Serif Display', serif; 
    font-size: 8em;
  }
  
  .with-lines p {
    border-bottom: 1px solid #ccc; /* Adds a line below each paragraph */
    padding-bottom: 5px; /* Adds some padding below the text */
  }
  
  .indent {
    padding-left: 20px;
  }
  
  .arrow {
    margin-right: 5px;
  }
  